In [9]:
import pandas as pd
from sqlalchemy import create_engine

In [1]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2026-02-04 11:01:39--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.167.84.228, 3.167.84.86, 3.167.84.131, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.167.84.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2026-02-04 11:01:39 (1.24 GB/s) - ‘taxi_zone_lookup.csv’ saved [12331/12331]

In [4]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [5]:
df_zones.head(5)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

## Specify Database connection

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265